@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:slnt,wght,CRSV,ELSH,ELXP@-8..0,100..900,0..1,0..100,0..100&display=swap');

.bitcount-font {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /*BELOW ARE ADDITIONAL TEXT OPTIONS FOR THIS FONT*/
  /*color: var(--core-color-50);*/
  /*font-variation-settings:*/
  /*  "slnt" -8,*/
  /*  "CRSV" 0,*/
  /*  "ELSH" 0,*/
  /*  "ELXP" 0;*/
}

:root {
  /* FONT SIZING */
  --size--2: clamp(0.6944rem, 0.6299rem + 0.3227vw, 0.88rem);
  --size--1: clamp(0.8333rem, 0.7406rem + 0.4638vw, 1.1rem);
  --size-0: clamp(1rem, 0.8696rem + 0.6522vw, 1.375rem);
  --size-1: clamp(1.2rem, 1.0196rem + 0.9022vw, 1.7188rem);
  --size-2: clamp(1.44rem, 1.1936rem + 1.2321vw, 2.1484rem);
  --size-3: clamp(1.728rem, 1.3949rem + 1.6653vw, 2.6855rem);
  --size-4: clamp(2.0736rem, 1.6272rem + 2.2319vw, 3.3569rem);
  --size-5: clamp(2.4883rem, 1.8943rem + 2.9702vw, 4.1962rem);
  /* CORE COLORS */
  --core-color-50: oklch(0.39 0.1 152);
  --core-color-100: oklch(0.42 0.09 152);
  --core-color-200: oklch(0.43 0.08 152);
  --core-color-300: oklch(0.46 0.07 152);
  --core-color-400: oklch(0.48 0.06 152);
  --core-color-500: oklch(0.5 0.05 151);
  --core-color-600: oklch(0.52 0.04 151);
  --core-color-700: oklch(0.54 0.03 152);
  --core-color-800: oklch(0.56 0.02 150);
  --core-color-900: oklch(0.58 0.01 151);
  --core-color-950: oklch(0.6 0 NaN);


  --bg-color: #121212;
  --text-color: #ffffff;
}

.light-theme {
  --bg-color: #ffffff;
  --text-color: #212121;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}
